.btn {
  background-color: #bf0f37;
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 0.7rem 1.75rem 0.7rem 1.75rem;
  border-radius: 0.6rem;
  text-decoration: none;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}