$primary-color: #132334;
$secondary-color: #bf0f37;
$white-color: #ffffff;
$breakpoint-ipad: 500px;
$breakpoint-desktop: 950px;
$font-family: "Poppins";
$border-color: #404040;
$black-color: #222222;
$yellow-color: #fcc737;